<h1>About</h1>

<p>
  Hey glad you're using For Humans. This site is a simple Social Networking
  Site that I quickly created to showcase some of my work.
</p>

<p>
  You're more then welcomed to use this site as you personal socail networking
  site if you please.
</p>

<p>
  You can check me out at my personal
  <a class='inline-link' href='https://seeyouspacecowboy.github.io/blog'>site</a>.
  Feel free to shoot me an e-mail.
</p>

<h5>Navigation</h5>

<p>
  The hand icon on the top right corner of the screen is your home button. You
  can click to go back to your home page. The door with the arrow on the top left
  corner is the log out button to log out of you For Humans profile.
</p>

<p>
  You can search for users by entering a name on the search bar and then hitting
  enter. You can see all users on the site, by hitting enter on the search bar
  while leaving it blank.
</p>
